<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Database Data</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        // Listen for 'update' events
        socket.on('update', function(data) {
            let content = '<ul>';
            data.data.forEach(function(row) {
                content += `<li>Model: ${row[2]}, Color: ${row[3]}, Size: ${row[4]}, Detection Time: ${row[5]}</li>`;
            });
            content += '</ul>';
            document.getElementById("data-container").innerHTML = content;
        });
    </script>
</head>
<body>
    <h1>Latest Pick-Place Analytics</h1>
    <div id="data-container">

    </div>
</body>
</html>
