<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="parol6">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import parol6 urdf file -->
    <xacro:include filename="$(find parol6_description)/urdf/parol6_base.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="parol6.ros2_control.xacro" />

    <!-- <xacro:include filename="$(find parol6_description)/urdf/camera_module.urdf.xacro" />
    <xacro:intel_d435_camera parent_link="world" prefix="d435_"/> -->

    <!-- <xacro:parol6_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/> -->
    <xacro:parol6_ros2_control name="parol6" initial_positions_file="$(find parol6_moveit2_config)/config/initial_positions.yaml"/>
    


    <gazebo>
      <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
        <parameters>$(find parol6_moveit2_config)/config/ros2_controllers.yaml</parameters>
      </plugin>
    </gazebo>

    <!-- World -->
    <link name="world"/>

    <!-- World fixed joint-->
    <joint name="world_fixed" type="fixed">
        <origin xyz="-0.526520 -1.121150 0.789815" rpy="0 0 0"/>
        <parent link="world"/>
        <child link="base_link"/>
    </joint>

</robot>
